<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="rc:${rcList}">
        <div th:text="${rc.getCenters().getRegion()}"></div>
        <div th:text="${rc.getNum_of_places()}"></div>
        <div th:text="${rc.getDates().getStart_date()}"></div>
        <div th:text="${rc.getDates().getFinish_date()}"></div>
        <a th:href="'/editRequestCenters/'+${rc.getRc()}">Edit</a>
        <hr>
    </div>
</body>
</html>